# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env
jobs.db
*.log
server_error.log
create_db.py

# React
node_modules/
dist/
build/
.env.local
.env.production
.env.development

# Other
.DS_Store
.vscode/
.idea/
